<div class="card" style="width: 18rem;">
  <img src="<%= `/images/${executives.imagem}` %>" class="card-img-top">
  <div class="card-body">
    <h5 class="card-title">
      <%= executives.nome %>
    </h5>
    <p class="card-text">
      <%= executives.cargo %>
    </p>
    <a href="/executives/<%= executives.id %>" class="btn btn-success">Ler mais</a>
  </div>
</div> 